body{
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6EABE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2f6363;
}

#header{
    height: 72px;
    background-color: #F6D7A7;
    color: #2f6363;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#content{
    margin-top: 72px;
    display: flex;
    width: -webkit-fill-available;
}
#side-panel{
    flex: 1;
    background-color: #2f6363;
    color: #F6D7A7;
    min-height: 90.1vh;
    padding-top: 20px;
    border-top-right-radius: 30px;
}
.side-header-container{
    display: flex;
    flex-direction: column;
}
.side-header{
    font-size: 24px;
    padding-left: 20px;
    padding-bottom: 8px;
    display: flex;
}
.project-side-label{
    font-size: 18px;
    padding: 0px 30px 8px 30px;
}
.dropdown-toggle{
    margin-left: 8px;
}
.dropdown-toggle.anim{
    transition: .25s;
}
.dropdown-toggle.closed{
    transform: rotateZ(-90deg);
}

#main-display{
    flex: 4;
}

.add-button{
    border-radius: 100px;
    background-color: #C8E3D4;
    border: 3px solid #2f6363;
    color: #2f6363;
    text-align: center;
    padding: 0px 10px;
    margin: 0px 8px 1px;
    filter: brightness(100%);
    
}

.add-button:hover{
    filter: brightness(70%);
}
.add-button:active{

    box-shadow: inset 0px 0px 5px black;
}

#add-project-button-container{
    position: fixed;
    top: 100px;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
#add-project-button{
    height: 50px;
    width: 50px;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    
}
#add-project-button.anim{
    transition: .25s;
}
#add-project-button:hover, #add-project-button.active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
#add-project-button.active{
    filter: brightness(80%);
}

#add-project-button span{
    font-size: 0%;
    opacity: 0;
}
#add-project-button span.anim{
    transition: .05s;
}
#add-project-button:hover span, #add-project-button span.active{
    font-size: 20px;
    opacity: 1;
}
.input-container{
    padding: 8px 15px;
    background-color: #C8E3D4;
    border: 3px solid #2f6363;
    border-radius: 100px;
    box-shadow: 2px 2px black;
}
#new-proj-add-button{
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

input, select{
    background-color: #87AAAA;
    color: #2f6363;
    border-style: none;
    border-bottom: 1px solid #2f6363;
    flex-grow: 1;
    font-size: 14px;
    height: 22px;
    padding: 4px 6px 4px 8px;
}
select{
    height: 31px;
    font-size:18px
}
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.project-title{
    font-size: 36px;
    font-weight: bold;
    max-width: 40%;
    overflow-y: auto;
    white-space: nowrap;
    text-decoration: underline;
    margin-bottom: 30px;
}

#add-task-button{
    font-size: 18px;
    padding: 5px 12px;
}

.add-task-info{
    border-radius: 20px;
    margin: 5px;
}
.tasks-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-bottom: 40px;
    width: -webkit-fill-available;
}
.task-container{
    border-radius: 10px;
    padding: 4px 12px;
    display: flex;
    gap: 20px;
    max-width: fit-content;
    
}
.task-info{
    max-width: 30vw;
    white-space: nowrap;
    overflow-y: auto;
}



.error-message{
    font-size: 18px;
    color: #993c3c;
    transition: 2s;
    transition-delay: 1s;
    opacity: 1;
    margin: 6px;
}

[data-priority='Low']{
    background-color: #E1ADAD;
}
[data-priority='Medium']{
    background-color: #EFEF38;
}
[data-priority='High']{
    background-color: #9DCD8D;
}

.task-button{
    border-radius: 10px;
    background-color: inherit;
    filter: brightness(100%);
    border: 1px solid #2f6363;
    color: #2f6363;
    transition: .25s;
}

.task-button:hover{
    filter:brightness(70%);
}

.task-button span{
    font-size: 0%;
    opacity: 0;
    transition: .25s;
}
.task-button:hover span{
    font-size: 14px;
    opacity: 1;
    padding: 0px 5px;
}

.task-container input, .task-container select{
    background-color: inherit;
    color: #2f6363;
    border-style: none;
    border-bottom: 1px solid #2f6363;
    flex-grow: 1;
    font-size: 14px;
    height: 18px;
    padding: 2px 4px 2px 4px;
}
.task-container select{
    height: 23px;
    font-size:15px
}


input[type="checkbox" i] {
    flex-grow: 0;
    height: 15px;
    width: 15px;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    padding-top: 2px;
}
    
::-webkit-scrollbar-track {
    border: 3px solid #87AAAA;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    background:#2f6363; 
    border-radius: 10px;
    border: 2px solid #2f6363
}
    
::-webkit-scrollbar-thumb:hover {
    background:#265252; 
}
@-moz-document url-prefix() {
    body{
        scrollbar-color: #2f6363 #265252 #87AAAA;
    }
}

